@import "@/styles/mixins";
.top {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.about {
    width: 80%;
    margin: 0 auto;
}
.menu {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.company {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.detail {
    width: 80%;
    margin: 100px auto;
    @include sp {
        flex-wrap: wrap;
    }
}

.contact {
    width: 80%;
    margin: 0 auto;
}
.cart {
    width: 80%;
    margin: 0 auto 100px auto;
    text-align: center;
}

.complete {
    width: 80%;
    margin: 0 auto 100px auto;
    text-align: center;
}
