@import "@/styles/mixins";
.form {
    width: 80%;
    margin: 30px auto;
    @include sp {
        width: 100%;
    }
}

.submitArea {
    margin-top: 40px;
    text-align: center;
}

.submit {
    display: block;
    background: none;
    margin: 10px auto;
    border: none;
    cursor: pointer;
}

//エラーだった場合
.error {
    color: #fe6868;
}
.errorTextField {
    display: block;
    width: 60%;
    margin: 10px 0;
    padding: 3px;
    border: solid 1px #fe6868;
    background-color: #ffdddd;

    @include sp {
        width: 100%;
    }
}
