@import "@/styles/mixins";
.item {
    margin: 0 10px;
    padding: 0 20px;
    @include sp {
        margin: 50px 0 0 0;
    }
}
.detail {
    display: flex;
    width: 80%;
    margin: 100px auto 20px auto;
    justify-content: center;
    @include sp {
        display: block;
    }
}

.mypage {
    margin-bottom: 40px;
}

.company {
    width: 80%;
    margin: 0 auto;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
