@import "@/styles/mixins";

.button {
    width: 100%;
    color: #fff;
    background-color: #545454;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 10px auto;
    cursor: pointer;
}

.text {
    margin: 10px;
}
