.header {
    display: flex;
    margin: 10px;
}
.logo {
    text-decoration: none;
    color: #000;
    text-align: left;
}

.li {
    list-style: none;
    padding: 10px;
    color: #454545;
    :hover {
        text-decoration: underline;
        opacity: 0.7;
    }
}
.navList {
    width: 100%;
    margin-top: 100px;
    text-align: right;
}
.link {
    color: #454545;
    text-decoration: none;
}
