.header {
    display: flex;
    position: sticky;
    padding: 10px;
    top: 0; /* 上からの距離を指定 */
    z-index: 1000; /* 他の要素より前面に表示 */
}
.logo {
    text-decoration: none;
    color: #000;
    text-align: left;
    animation: rotation 12s linear infinite;
    height: 100%;
}
@keyframes rotation {
    from {
        transform: rotate(0deg); /* 初期角度 */
    }
    to {
        transform: rotate(360deg); /* 一周回転 */
    }
}

.li {
    list-style: none;
    padding: 10px;
    color: #454545;
    :hover {
        text-decoration: underline;
        opacity: 0.7;
    }
}
.navList {
    width: 100%;
    margin-top: 100px;
    text-align: right;
}
.link {
    color: #454545;
    text-decoration: none;
}
