@import "@/styles/mixins";
.contents {
    padding: 15px;
}
.h1-title {
    text-align: center;
}
.h2-title {
    padding: 10px;
    border-left: 5px solid #000;
    background: #eee;
    font-size: 1.2em;
    margin-top: 2em;
}

.dl {
    @include pc {
        display: flex;
    }
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding: 20px 0;
}
.dt {
    width: 100px;
    font-weight: bold;
}
.dd {
    margin: 0;
}
.link {
    text-decoration: none;
    color: red;
    .hover {
        text-decoration: underline;
    }
}
