@import "@/styles/mixins";
.about {
    width: 80%;
}
.menu {
    display: flex;
    justify-content: center;
    @include sp {
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
    }
}

.more {
    text-align: center;
    margin-top: 76px;
}
