@import "@/styles/mixins";
.container {
    max-width: 1000px;
    padding: 0 0 0 40px;
    // text-align: center;
    position: relative;
}

.topContainer {
    text-align: center;
}

.h2-title {
    flex-wrap: nowrap;
    display: inline-block;
    border-bottom: 1px solid #383e45;
    margin: 80px 0;
    padding: 10px 0;
    color: #383e45;
}

.main {
    @include sp {
        width: 375px;
        height: 600px;
    }
}

.text {
    color: #383e45;
}

.products {
    @include sp {
        display: block;
        max-width: 767px;
        margin: 0 auto;
    }
    display: flex;
    justify-content: center;
}

.viewMore {
    display: block;
    margin: 60px 0 90px 0;
    text-decoration: none;
    color: #333;
}

.footer {
    @include sp {
        flex-wrap: wrap;
        margin: 0;
    }
    display: flex;
    justify-content: space-between;
}

.nav {
    @include sp {
        margin: 0;
    }
    margin: 0 0 20px 0;
}

.link {
    text-decoration: none;
    color: #333;
}
