.header {
    display: flex;
}
.logo {
    text-decoration: none;
    color: #000;
    text-align: left;
}

.btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 20px;
}

.hmTop {
    width: 30px;
    height: 2px;
    display: block;
    background: #333;
    position: absolute;
}
.hmBottom {
    width: 30px;
    height: 2px;
    display: block;
    background: #333;
    position: absolute;
    margin-top: 10px;
}
.li {
    list-style: none;
    color: #fff;
}
.navList {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    background: #000;
    opacity: 0.8;
    padding: 36px 0 0 50px;
    display: none;
}
.open {
    display: block;
    .btn {
        color: #fff;
    }
    .hmTop {
        transform: rotate(45deg);
        top: 10px;
    }
    .hmBottom {
        transform: rotate(-45deg);
    }
}
.link {
    color: #fff;
    text-decoration: none;
}
