.header {
    display: flex;
}
.logo {
    text-align: left;
}

.hm-top {
    width: 30px;
    height: 2px;
    display: block;
    background: #333;
    position: absolute;
    top: 45px;
    right: 20px;
}
.hm-bottom {
    width: 30px;
    height: 2px;
    display: block;
    background: #333;
    position: absolute;
    top: 35px;
    right: 20px;
}
