@import "@/styles/mixins";
.item {
    display: flex;
    text-align: center;
    @include sp {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
}
.detail {
    display: block;
}
