.menu {
    display: flex;
    margin-bottom: 35px;
    // justify-content: center;
}

.item {
    margin: 0 16px;
    // text-align: center;
    color: #333;
}

.link {
    text-decoration: none;
    color: #545454;
}

.text {
    margin: 5px 0;
}
.price {
    text-align: right;
    margin: 0;
}
