.menu {
    display: flex;
    margin-bottom: 35px;
}

.item {
    margin: 0 16px;
    color: #333;
    :hover {
        opacity: 0.7;
    }
}

.link {
    text-decoration: none;
    color: #545454;
}

.text {
    margin: 5px 0;
}
.price {
    text-align: right;
    margin: 0;
}
