.pagination {
    color: #333;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.pageLink {
    color: #333;
    margin: 40px 0 120px 40px;
}
.link {
    color: #333;
    text-decoration: none;
}
